#hero {
  height: 900px;
}

.navbar-expand-md .navbar-nav {
  font-size: 16px;
  color: rgb(54,138,221);
  font-family: 'Doppio One', sans-serif;
}

.navbar-light .navbar-brand {
  margin: 0px;
  font-family: 'Doppio One', sans-serif;
  color: rgba(255,255,255,0.9);
  width: 100px;
  padding: 0;
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(255,255,255,0.7);
}

.container, .container-lg, .container-md, .container-sm, .container-xl {
  height: 88px;
  width: 1100;
}

p {
  color: rgb(255,255,255);
  font-family: 'Doppio One', sans-serif;
}

div {
  padding: 0px 15px;
}

.hover {
  overflow: hidden;
  position: relative;
  padding-bottom: 100%;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: white;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 60%;
  background-color: #008CBA;
}

.w-100.d-block.d-flex:hover .overlay {
}

img:hover .overlay {
}

img:hover.overlay {
}

img:hover.overlay {
  opacity: 1;
}

img:hover.overlay {
  opacity: 1;
}

.container.d-flex:hover.img {
  opacity: 1;
}

.navbar-light .navbar-brand {
  font-size: 23px;
}

.Bio {
  font-size: 45px;
}

#ContacntMe {
  background-color: initial;
  color: #ff1a8c;
  border-color: #ff1a8c;
  font-size: 15px;
  font-family: 'Armata';
}

#name {
  /*color: #ff1a8c;*/
  /*opacity: 10000;*/
}

#ContacntMe:hover {
  background-color: #ff1a8c;
  color: rgb(16,8,48);
  border-color: rgb(16,8,48);
  /*opacity: 30%;*/
  font-weight: 800;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #ff1a8c;
  opacity: 70%;
}

#About {
  opacity: 70%;
  color: #ff1a8c;
}

